/*iconos de puntos de venta-contacto-correo*/
$rojo-principal :#E71409;

/*botones titulos e iconos:lugar-fecha-hora*/
$amarillo: #f2c500;

/*unica tabla en evento.html*/
$gris-tabla:#EFEFEF;

/*pie de pagina*/
$negro:black;


